Команды в терминале запускай для Power Shell
Не используй нигде авторизацию, создание пользователей, регистрацию, авторизацию, проверку авторизации


Backend:
Fasitfy (JS)
База данных: PostgreSQL
Хранение видеофайлов в S3
используй данные с .env файла


Frontend:
Next.js (TS)
TailwindCSS
Shadcn/UI
ссылка на бэкэнд указан в next.config.js, он проксирует запросы
так же в next.config.js указаны прокси на медиа-сервер и суперстример

Media-MTX:
в папке mediamtx
отвечает за трансляцию и прием потоков
исполняемый файл mediamtx\mediamtx.exe


SuperStreamer:
в папке superstreamer
отвечает за загрузку и транскодинг и отдачу видеофайлов
требует билдинг через bun


