RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=https://sprs-bucket.object.pscloud.io/$1 [QSA,L]

# Для статических файлов тоже
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ index.php?url=https://sprs-bucket.object.pscloud.io/$1 [QSA,L]
